// === Variables ==

// === Font ===
$fontSize: 18px;
$fontColor: #000;
$fontWeight: 400;
$font: 'Montserrat', Helvetica, Arial, sans-serif;
$lineHeight: 1;

// === Color ===
$bgColor: #fcfcfc;

// === Responsive breakpoints ===
$screen-container: 1500px;
$screen-container--md: 1160px;
$screen-container--sm: 1110px;
$screen-container--xs: 920px;
$screen-container-padding: 30px;
$screen-xs: 575px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1499px;
