.order-data {

	&_item {
		margin-bottom: 55px;
		
		&__title {
			margin-bottom: 20px;
			font-size: 37px;
			font-weight: 600;
			line-height: 42px;
		}
		
		&__info {
			
			.form_radio {
				margin-bottom: 18px;
				
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	
	@media (max-width: $screen-sm) {
		
		&_item {
			margin-bottom: 30px;
			
			&__title {
			
			}
		}
	}
	
	@media (max-width: $screen-xs) {
		
		&_item {
			margin-bottom: 20px;
			
			&__title {
				margin-bottom: 15px;
				font-size: 24px;
				line-height: 28px;
			}
			
			&__info {
				
				.form_radio {
					margin-bottom: 15px;
				}
			}
		}
	}
}