.icon-offers-fb {
	display: inline-block;
	width: 61px;
	height: 61px;
	vertical-align: middle;
	background: url("../img/offers-fb.svg") center no-repeat;
}

.icon-close {
	display: inline-block;
	width: 20px;
	height: 24px;
	vertical-align: middle;
	background: url("../img/icons/icon-close.svg") center no-repeat;
}

.icon-whatsapp {
	display: inline-block;
	width: 41px;
	height: 41px;
	vertical-align: middle;
	background: url("../img/icons/icon-whatsapp.svg") center no-repeat;
}

.icon-telegram {
	display: inline-block;
	width: 40px;
	height: 40px;
	vertical-align: middle;
	background: url("../img/icons/icon-telegram.svg") center no-repeat;
}