.modal {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 15px;
	background: rgba(#fff, .8);
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
	transition: .5s;
	-webkit-overflow-scrolling: touch;
	pointer-events: none;
	
	&.is-open {
		visibility: visible;
		opacity: 1;
		pointer-events: auto;
	}
	
	&_inner {
		position: relative;
		z-index: 100;
		max-width: 1080px;
		width: 100%;
		padding: 50px 80px;
		background-color: #fff;
		border-radius: 37px;
		box-shadow: 0 10px 23px rgba(0, 0, 0, 0.16);
		overflow: hidden;
	}
	
	&_close {
		position: absolute;
		top: 40px;
		right: 50px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 45px;
		height: 45px;
		background-color: #f0f0f0;
		border-radius: 100%;
		transition: .3s;
		
		&:hover {
			transform: rotate(180deg);
		}
	}
	
	&_steps {
		display: flex;
		align-items: center;
		margin-bottom: 50px;
		
		&__title {
			margin-right: 15px;
			font-weight: 600;
		}
		
		&__items {
			display: flex;
			align-items: center;
			
			&-value {
				width: 14px;
				height: 14px;
				margin: 0 5px;
				background-color: #b5b5b5;
				border-radius: 100%;
				transition: .3s;
				
				&.is-active {
					background-color: #5e59f8;
				}
			}
		}
	}
	
	@media (max-width: $screen-lg) {
		
		&_inner {
			padding: 40px;
		}
		
		&_close {
			top: 20px;
			right: 20px;
		}
		
		&_steps {
			margin-bottom: 30px;
		}
	}
	
	@media (max-width: $screen-sm) {
		
		&_inner {
			padding: 20px;
			border-radius: 25px;
		}
		
		&_close {
			top: 15px;
			right: 15px;
			width: 30px;
			height: 30px;
			
			i {
				width: 10px;
				height: 13px;
				background-size: cover;
			}
		}
		
		&_steps {
			margin-bottom: 20px;
		}
	}
}