.quantity-block {
	
	&_list {
		display: flex;
		align-items: flex-end;
	}
	
	&_item {
		flex: 1 0 150px;
		max-width: 150px;
		margin-right: 20px;
		
		&__title {
			line-height: 22px;
			text-align: center;
		}
		
		&__subtitle {
			font-size: 14px;
			line-height: 18px;
			text-align: center;
		}
		
		&__info {
			display: flex;
			align-items: center;
			margin-top: 5px;
		}
		
		&__arrow {
			display: inline-block;
			flex: 2 0 19px;
			width: 19px;
			height: 17px;
			opacity: .23;
			transition: .3s;
			
			&:hover {
				text-decoration: none;
				opacity: 1;
			}
			
			&.quantity-sub {
				margin-right: 10px;
				background: url("../img/arrow-input-left.svg") center no-repeat;
			}
			
			&.quantity-add {
				margin-left: 10px;
				background: url("../img/arrow-input-right.svg") center no-repeat;
			}
		}
		
		&__field {
			display: inline-flex;
			align-items: center;
			flex: 1 1 auto;
			width: 100%;
			height: 30px;
			padding: 0 5px;
			font-size: 20px;
			text-align: center;
			border: 1px solid #707070;
			
			&[disabled] {
				background-color: #fff;
			}
		}
	}
	
	@media (max-width: $screen-xs) {
		
		&_item {
			flex: 1 0 130px;
			max-width: 130px;
			margin-right: 12px;
			
			&__title {
				font-size: 14px;
				line-height: 18px;
			}
			
			&__subtitle {
				font-size: 12px;
				line-height: 14px;
			}
		}
	}
}