.sec-intro {
	padding: 80px 0;
	
	&_inner {
		display: flex;
		align-items: flex-start;
	}
	
	&_left {
		flex: 2 0 510px;
		max-width: 510px;
		padding-right: 50px;
	}
	
	&_right {
		position: relative;
		flex: 1 1 auto;
		
		&--border {
			
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 1px;
				height: 960px;
				background-color: #E2E5ED;
			}
		}
		
		.offers {
			padding-top: 20px;
			padding-left: 65px;
		}
	}
	
	&_title {
		margin-bottom: 20px;
		font-size: 73px;
		font-weight: 600;
		line-height: 84px;
	}
	
	&_description {
		line-height: 22px;
	}
	
	@media (max-width: $screen-lg) {
		
		&_inner {
			flex-direction: column;
		}
		
		&_left {
			flex: 1 1 auto;
			max-width: 100%;
			width: 100%;
			margin-bottom: 30px;
			padding-right: 0;
		}
		
		&_right {
			flex: 1 1 auto;
			max-width: 100%;
			width: 100%;
			
			&--border {
				
				&:after {
					display: none;
				}
			}
			
			.offers {
				padding-left: 0;
			}
		}
	}
	
	@media (max-width: $screen-sm) {
		
		&_title {
			font-size: 60px;
			line-height: 72px;
		}
	}
	
	@media (max-width: $screen-xs) {
		padding: 20px 0;
		
		&_right {
			
			.offers {
				padding-top: 0;
			}
		}
		
		&_title {
			font-size: 40px;
			line-height: 48px;
		}
		
		&_description {
			font-size: 14px;
			line-height: 18px;
		}
	}
}